@font-face {
    font-family: GardensC;
    src: url("../assets/fonts/GardensC_03_1.otf");
}


.content {
    margin: 0 auto;
    width: 1315px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

.carousel {
    border-radius: 20px;
    overflow: hidden;
    margin-top: 100px;
}


.block-name {
    font-size: 40px;
    font-family: GardensC;
}

.see-more {
    background: #2BB1B4;
    border-radius: 100px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    line-height: 19px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;


    &:hover {
        background: #108C8E;
    }
}

.category div {
    padding: 0;
}

.test {
    display: flex;
    justify-content: flex-end;
}

.carousel {
    margin-bottom: 80px;
    width: 1000px !important;
}

.card-title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 12px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #164747;
}

.category-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.price {
    display: flex;
    gap: 8px;
}

.liders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    margin-left: 20px;
}

.old-price {
    text-decoration-line: line-through;
    color: gray;
}

.add-to-trash__button {
    background: #2BB1B4;
    border-radius: 100px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    line-height: 19px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 10px 20px;

    &:hover {
        background: #108C8E;
    }
}

.card__title-liders {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}

.left-absolute-icon {
    top: 15px;
    left: 15px;
}

.right-absolute-icon {
    top: 15px;
    left: 230px;
}

.download-more {
    width: 12rem;
    background: #2BB1B4;
    border-radius: 100px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    line-height: 19px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 10px 20px;

    &:hover {
        background: #108C8E;
    }
}

.questions {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 80px;
    gap: 10px;
}

.questions-form {
    display: flex;
}

.questions-title {
    font-size: 48px;
}

.main-block:hover, .main-block:focus, .main-block:active {
    border-radius: 18px;
}

.main-block__down {
    display: none;
    padding-top: 10px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;


}

.open {
    display: block;
}

.main-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    border-radius: 18px;
    margin-top: 5px;
}

.main-block__text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #2BB1B4;
}

.main-block__text p {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #164747;
}

.arrow {
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(180deg);
}

.show-low-resolution {
    display: none;
}

.liders-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    white-space: nowrap;
}

.carousel-indicators button {
    height: 20px !important;
    width: 20px !important;
    margin: 0 10px !important;
    border-radius: 100%;
    border: 2px solid white !important;
    background-color: transparent !important;
}

.carousel-indicators button.active {
    background-color: white !important;
}

@media screen and (max-width: 1399px) {
    .right-absolute-icon {
        top: 15px;
        left: 210px;
    }
}

@media screen and (max-width: 1200px) {
    .questions {
        width: 75%;
    }

    .content {
        padding-top: 0;
    }

    .category-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .category-title {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 12px;
        flex-direction: column;
        white-space: nowrap;
    }

    .kill-low-resolution {
        display: none;
    }

    .show-low-resolution {
        display: flex;
        white-space: nowrap;
        margin-top: 20px;
    }


    .category {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .category-content .hide-card:nth-child(n+3) {
        display: none;
    }

    .main-block {
        width: 100%;
    }


    .right-absolute-icon {
        top: 15px;
        left: 220px;
    }


}

